@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #064273;
    font-family: "Fira Sans", sans-serif;
}

#game-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

#title {
    @apply text-[#f2e4c9] text-center text-4xl font-semibold pb-2;
}

#board {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}

#row-a, #row-c, #row-e, #row-g, #row-i {
    background-color: #76b6c4;
}

#row-b, #row-d, #row-f, #row-h, #row-j {
    background-color: #def3f6;
}

.cell {
    border: 1px solid black;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .cell:hover {
    cursor: pointer;
    background-color: #f2e4c9;
} */

#letter-coords {
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

#letter-coords div {
    height: 57px;
    text-align: center;
    font-size: 20px;
    align-content: center;
    color: #f2e4c9;
}

#number-coords  {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
}

#number-coords div {
    width: 10%;
    text-align: center;
    font-size: 20px;
    color: #f2e4c9;
}