#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    text-align: center;
}

#board {
    background-color: lightgreen;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}

#row-a, #row-c, #row-e, #row-g, #row-i {
    background-color: lightcoral;
}

#row-b, #row-d, #row-f, #row-h, #row-j {
    background-color: lightskyblue;
}

.cell {
    border: 1px solid black;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}