#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    text-align: center;
}

#board {
    background-color: lightgreen;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}

#row-1, #row-3, #row-5, #row-7, #row-9 {
    background-color: lightcoral;
}

#row-2, #row-4, #row-6, #row-8, #row-10 {
    background-color: lightskyblue;
}

.cell {
    border: 1px solid black;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}